.jumbotron{ 
    text-align: center;
    font-family: fantasy;
    background-image: linear-gradient(to bottom right, red , blue);
    
}
.card-img-top2{
    height: 90%;
    width: 80%;
}
.card-img-top3{
    height:50%;
    width:70%;
}
.row{
        
}

